<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tlcSpiderProxyScheduler" class="cn.com.fero.tlc.spider.schedule.TLCSpiderScheduler">
        <property name="schedulerFactory" ref="schedulerFactory"/>
        <property name="schedulerName" value="proxy代理调度器" />
        <property name="jobList">
            <list>
                <bean class="cn.com.fero.tlc.spider.job.system.proxy.TLCSpiderFetchProxyJob">
                    <property name="jobName" value="proxyJob"/>
                    <property name="jobGroupName" value="proxy"/>
                    <property name="triggerName" value="proxyTrigger"/>
                    <property name="triggerGroupName" value="proxy"/>
                    <property name="cronExpression" value="0 */2 * * * ? *"/>
                </bean>
                <bean class="cn.com.fero.tlc.spider.job.system.proxy.TLCSpiderValidateProxyJob">
                    <property name="jobName" value="validateProxyJob"/>
                    <property name="jobGroupName" value="proxy"/>
                    <property name="triggerName" value="validateProxyTrigger"/>
                    <property name="triggerGroupName" value="proxy"/>
                    <property name="cronExpression" value="*/15 * * * * ? *"/>
                </bean>
            </list>
        </property>
    </bean>

</beans>