<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tlcSpiderP2PScheduler" class="cn.com.fero.tlc.spider.schedule.impl.TLCSpiderP2PScheduler" parent="tlcSpiderScheduler">
        <property name="jobList">
            <list>
                <bean class="cn.com.fero.tlc.spider.job.finance.p2p.NYYHNYEP2P">
                    <property name="jobName" value="nyyhnyeJob"/>
                    <property name="jobGroupName" value="bank"/>
                    <property name="triggerName" value="nyyhnyeTrigger"/>
                    <property name="triggerGroupName" value="bankTrigger"/>
                    <property name="cronExpression" value="0 0 * * * ? *"/>
                </bean>
                <bean class="cn.com.fero.tlc.spider.job.finance.p2p.ZHXQYEJP2P">
                    <property name="jobName" value="zhxqyejJob"/>
                    <property name="jobGroupName" value="bank"/>
                    <property name="triggerName" value="zhxqyejTrigger"/>
                    <property name="triggerGroupName" value="bankTrigger"/>
                    <property name="cronExpression" value="0 0 * * * ? *"/>
                </bean>
                <bean class="cn.com.fero.tlc.spider.job.finance.p2p.LZYHEREDP2P">
                    <property name="jobName" value="lzyheredJob"/>
                    <property name="jobGroupName" value="bank"/>
                    <property name="triggerName" value="lzyheredTrigger"/>
                    <property name="triggerGroupName" value="bankTrigger"/>
                    <property name="cronExpression" value="0 0 * * * ? *"/>
                </bean>
                <bean class="cn.com.fero.tlc.spider.job.finance.p2p.RDNSYHERJZP2P">
                    <property name="jobName" value="rdnsyherjzJob"/>
                    <property name="jobGroupName" value="bank"/>
                    <property name="triggerName" value="rdnsyherjzTrigger"/>
                    <property name="triggerGroupName" value="bankTrigger"/>
                    <property name="cronExpression" value="0 0 * * * ? *"/>
                </bean>
                <bean class="cn.com.fero.tlc.spider.job.finance.p2p.NBYHZXYHP2P">
                    <property name="jobName" value="nbyhzxyhJob"/>
                    <property name="jobGroupName" value="bank"/>
                    <property name="triggerName" value="nbyhzxyhTrigger"/>
                    <property name="triggerGroupName" value="bankTrigger"/>
                    <property name="cronExpression" value="0 0 * * * ? *"/>
                </bean>
                <bean class="cn.com.fero.tlc.spider.job.finance.p2p.CZNSYHP2P">
                    <property name="jobName" value="cznsyhJob"/>
                    <property name="jobGroupName" value="bank"/>
                    <property name="triggerName" value="cznsyhTrigger"/>
                    <property name="triggerGroupName" value="bankTrigger"/>
                    <property name="cronExpression" value="0 0 * * * ? *"/>
                </bean>
                <bean class="cn.com.fero.tlc.spider.job.finance.p2p.QDYHCFEWP2P">
                    <property name="jobName" value="qdyhcfewJob"/>
                    <property name="jobGroupName" value="bank"/>
                    <property name="triggerName" value="qdyhcfewTrigger"/>
                    <property name="triggerGroupName" value="bankTrigger"/>
                    <property name="cronExpression" value="0 0 * * * ? *"/>
                </bean>
                <bean class="cn.com.fero.tlc.spider.job.finance.p2p.HRYHP2P">
                    <property name="jobName" value="hryhJob"/>
                    <property name="jobGroupName" value="bank"/>
                    <property name="triggerName" value="hryhTrigger"/>
                    <property name="triggerGroupName" value="bankTrigger"/>
                    <property name="cronExpression" value="0 0 * * * ? *"/>
                </bean>
                <bean class="cn.com.fero.tlc.spider.job.finance.p2p.MSYHMSYDP2P">
                    <property name="jobName" value="msyhmsydJob"/>
                    <property name="jobGroupName" value="bank"/>
                    <property name="triggerName" value="msyhmsydTrigger"/>
                    <property name="triggerGroupName" value="bankTrigger"/>
                    <property name="cronExpression" value="0 0 * * * ? *"/>
                </bean>
                <bean class="cn.com.fero.tlc.spider.job.finance.p2p.MSYHMSZZP2P">
                    <property name="jobName" value="msyhmszzJob"/>
                    <property name="jobGroupName" value="bank"/>
                    <property name="triggerName" value="msyhmszzTrigger"/>
                    <property name="triggerGroupName" value="bankTrigger"/>
                    <property name="cronExpression" value="0 0 * * * ? *"/>
                </bean>
                <bean class="cn.com.fero.tlc.spider.job.finance.p2p.LJSTZP2P">
                    <property name="jobName" value="ljstzJob"/>
                    <property name="jobGroupName" value="bank"/>
                    <property name="triggerName" value="ljstzTrigger"/>
                    <property name="triggerGroupName" value="bankTrigger"/>
                    <property name="cronExpression" value="0 0/30 * * * ? *"/>
                </bean>
                <!--<bean id="pfyhJob" class="cn.com.fero.tlc.spider.jobb.p2p.PFYHJob">-->
                <!--<property name="jobName" value="pfyhJob"/>-->
                <!--<property name="jobGroupName" value="bank"/>-->
                <!--<property name="triggerName" value="pfyhTrigger"/>-->
                <!--<property name="triggerGroupName" value="bankTrigger"/>-->
                <!--<property name="cronExpression" value="0 0 * * * ? *"/>-->
                <!--</bean>-->
                <!--<bean id="ljslcJob" class="cn.com.fero.tlc.spider.jobb.p2p.LJSLCJob">-->
                <!--<property name="jobName" value="qdyhcfewJob"/>-->
                <!--<property name="jobGroupName" value="bank"/>-->
                <!--<property name="triggerName" value="qdyhcfewTrigger"/>-->
                <!--<property name="triggerGroupName" value="bankTrigger"/>-->
                <!--<property name="cronExpression" value="0 0 * * * ? *"/>-->
                <!--</bean>-->
                <!--<bean id="pfyhJob" class="cn.com.fero.tlc.spider.jobb.p2p.PFYHJob">-->
                <!--<property name="jobName" value="qdyhcfewJob"/>-->
                <!--<property name="jobGroupName" value="bank"/>-->
                <!--<property name="triggerName" value="qdyhcfewTrigger"/>-->
                <!--<property name="triggerGroupName" value="bankTrigger"/>-->
                <!--<property name="cronExpression" value="0 0 * * * ? *"/>-->
                <!--</bean>-->
                <!--<bean id="hxewtJob" class="cn.com.fero.tlc.spider.jobb.HXEWTJob">-->
                <!--<property name="jobName" value="hxewtJob"/>-->
                <!--<property name="jobGroupName" value="bank"/>-->
                <!--<property name="triggerName" value="hxewtTrigger"/>-->
                <!--<property name="triggerGroupName" value="bankTrigger"/>-->
                <!--<property name="cronExpression" value="0/20 * * * * ?"/>-->
                <!--</bean>-->
                <!--<bean id="bsyhBankJob" class="cn.com.fero.tlc.spider.jobb.BSYHBankJob">-->
                <!--<property name="jobName" value="bsyhBankJob"/>-->
                <!--<property name="jobGroupName" value="bank"/>-->
                <!--<property name="triggerName" value="bsyhBankTrigger"/>-->
                <!--<property name="triggerGroupName" value="bankTrigger"/>-->
                <!--<property name="cronExpression" value="0 0 * * * ? *"/>-->
                <!--</bean>-->
                <!--<bean id="bsyhFinanceJob" class="cn.com.fero.tlc.spider.jobb.BSYHFinanceJob">-->
                <!--<property name="jobName" value="bsyhFinanceJob"/>-->
                <!--<property name="jobGroupName" value="bank"/>-->
                <!--<property name="triggerName" value="bsyhFinanceTrigger"/>-->
                <!--<property name="triggerGroupName" value="bankTrigger"/>-->
                <!--<property name="cronExpression" value="0 0 * * * ? *"/>-->
                <!--</bean>-->
            </list>
        </property>
    </bean>

</beans>