<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="gtsbossTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="gtsbossDataSource"/>
    </bean>

    <tx:advice id="gtsbossTxAdvice" transaction-manager="gtsbossTransactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="SUPPORTS" read-only="true" isolation="READ_COMMITTED"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="java.lang.Throwable"
                       isolation="REPEATABLE_READ"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="java.lang.Throwable"
                       isolation="REPEATABLE_READ"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="java.lang.Throwable"
                       isolation="REPEATABLE_READ"/>
        </tx:attributes>
    </tx:advice>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="gtsbossPointcut" expression="execution(public * cn.com.fero.gtsboss.controller..*.*(..))"/>
        <aop:advisor advice-ref="gtsbossTxAdvice" pointcut-ref="gtsbossPointcut"/>
    </aop:config>

</beans>